<div class="chat-container">
    <mat-card class="users-container">
        <mat-nav-list>
            <mat-list-item *ngFor="let user of users" (click)="selectUser(user)">
                <span mat-line>
                    <span class="status-indicator" [ngClass]="{
                    'connected': user.is_connected,
                    'disconnected': !user.is_connected
                  }"></span>
                    {{ user.name }} ({{ user.username }})
                </span>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
    <mat-card class="messages-container">
        <div *ngIf="selectedUser">
            <div class="chat-header">
                <!-- <span>{{ selectedUser.name }}</span> -->
            </div>
            <!-- <div style="height: 100%;">
                <div class="chat-messages">
                    <div *ngFor="let message of selectedUser.messages" class="message">
                        <strong style="color: aqua;">{{ message.sender }}:</strong> {{ message.content }}
                    </div>
                </div>
    
                <div>
                    <mat-form-field class="message-input">
                        <input matInput [(ngModel)]="newMessage" placeholder="{{ 'MESSAGING.INPUT_PLACEHOLDER' | translate }}" />
                    </mat-form-field>
                    <button mat-button color="primary" (click)="sendMessage()">{{ 'MESSAGING.SEND_BUTTON' | translate }}</button>
                </div>
            </div> -->
        </div>
        <div *ngIf="!selectedUser">
            <p>{{ 'MESSAGING.SELECT_USER' | translate }}</p>
        </div>
    </mat-card>
</div>